.aboutMeConteiner{
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--Purple-900);
    width: 100vw;
    height: 100vh;
    color: white;
    z-index: -1;
    position:fixed;

    .backgroundImgAboutMe{
        width: 100vw;
        height: 80vh;
        position: fixed;
        filter: invert(82%) sepia(54%) saturate(3458%) hue-rotate(207deg) brightness(106%) contrast(103%);
        opacity: 0.1;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .mainAboutMeContent{
        color: #fff;
        background-color:  rgba(0, 0, 0, 0.349);
        width: 50rem;
        height: 50rem;
        border-radius: 1rem;
    }


}

@media screen and (max-width: 960px) {
    article img{
        display: none;
    }

    .mainAboutMeContent{
        width: 95%;
        height: 80%;
        align-items: center;
        margin-top:1rem;
        justify-content: center;
                
    
        & h1{
        margin-left: 1rem;
        }
    
        & p{
         font-size: 0.9rem;
        }
    }
}