.aboutMeConteiner{
    display: block;
    align-items: center;
    justify-content: center;
    background: var(--Purple-900);
    width: 100vw;
    height: 100vh;
    color: white;
    z-index: -1;
    position:fixed;

    .mainAboutMeContent{
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--Purple-900);
        width: 100vw;
        height: calc(100vh - 5.5rem);
        color: white;
        z-index: -1;


        .textBoxConteiner{
            display:flex;
            flex-direction: column;
            background-color:  rgba(0, 0, 0, 0.349);
            width : 37.5rem;
            height: 37.5rem;
            border-radius: 1rem;
            align-items: center;
            margin: 1rem;
            margin-top: -10rem;

            & p{
                margin: 1.4rem;
                opacity: 0.9;
                line-height: 1.8rem;       
                font-size: 1.2rem;
                text-align: start;
               }
        }
    }


}

@media screen and (max-width: 960px) {

    .mainAboutMeContent{
        display: flex;
        flex-direction: column;
        position: relative;
        top: 5.5rem;
        align-items: center;
        max-width: 95%;
        max-height: 70%;
    }
    .AboutMeTextConteiner{
        max-width: 95%;
        align-items: center;
        margin-top:1rem;
        justify-content: center;
        font-size: 0.9rem;
    }
}