.HomeContainer{
    display: block;
    align-items: center;
    justify-content: center;
    background: var(--Purple-900);
    width: 100vw;
    height: 100vh;
    color: white;
    z-index: -1;
    position:fixed;

    .BackgroundImgHome{
        width: 100vw;
        height: 80vh;
        position: fixed;
        filter: invert(82%) sepia(54%) saturate(3458%) hue-rotate(207deg) brightness(106%) contrast(103%);
        opacity: 0.1;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .ContentConteiner{
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--Purple-900);
        width: 100vw;
        height: calc(100vh - 5.5rem);
        color: white;
        z-index: -1;

        .Topic1, .Topic2{
            display:flex;
            flex-direction: column;
            background-color:  rgba(0, 0, 0, 0.349);
            width : 37.5rem;
            height: 37.5rem;
            border-radius: 1rem;
            align-items: center;
            margin: 1rem;
            margin-top: -10rem;
        
              & p{
                 margin: 1.4rem;
                 opacity: 0.9;
                 line-height: 1.8rem;       
                 font-size: 1.2rem;
                 text-align: start;
                }
                & span{
                    color: var(--Purple-200);
                } 
        
                .fa-face-laugh-beam, .fa-face-smile-wink{
                    color: #ffd900;
                    margin: 1rem;
                }
            
        }

    }
    
}

@media screen and (max-width: 960px) {

    .HomeContainer{
        display: flex;
        flex-direction: column;
        position: relative;
        height: 100%;
        align-items: center;

        .BackgroundImgHome{
            display:none;
        }

        .ContentConteiner{
            display: flex;
            flex-direction: column;
            position: relative;
            margin-top: 1rem;
            align-items: center;
            height: 100%;

            .Topic1, .Topic2{
                width: 95%;
                height: 80%;
                align-items: center;
                margin-top:1rem;
                justify-content: center;
                
    
                & h1{
                    margin-left: 1rem;
                }
    
                & p{
                    font-size: 0.9rem;
                }
            }
            .Topic1{
                margin-top: 5.5rem;
            }
        }

    }

}